{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dabyss</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #006766;">
<div class="container">
    <img src="{% static 'img/logo_Dabyss.png' %}" alt="top_logo">
    <!-- color code -->
    <!-- base color #006766 -->
    <!-- accent1 color #ee6738-->
    <!-- accent2 color #963a1e -->
    <div class="row">
    <div class="col pl-5 pr-5">
        <div class="row"><h1 style="color: snow; font-weight: bold;">Save our Talk</h1></div>
        <div class="col p-5" style="color: snow;">
            <p>Text. Long long text.
                Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on. 
            </p>
        </div>
        
    </div>
    </div>
</div>
</body>
</html>