{% load static %}
{% load %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dabyss</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #006766;">
<div class="container">
    <!-- color code -->
    <!-- base color #006766 -->
    <!-- accent1 color #ee6738-->
    <!-- accent2 color #963a1e -->
    
    <!-- navigation var start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dabyss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Games</a>
        </li>
        </ul>
    </div>
    </nav>

    <!-- navigation var end  -->


    <img src="{% static 'img/logo_Dabyss.png' %}" alt="top_logo">
    
    
    <div class="row">
    <div class="col pl-5 pr-5">
        <div class="row"><h1 style="color: snow; font-weight: bold;">Save our Talk</h1></div>
        <div class="col p-5" style="color: snow;">
            <p>Text. Long long text.
                Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on.Mission of the team, vision, value and so on. 
            </p>
        </div>
        
    </div>
    </div>
</div>
</body>

<footer>
    <div class=""></div>
</footer>
</html>